        </div>
        <script src="/dist/js/formValidation.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.js"></script>
        <script src="/dist/js/framework/bootstrap.js"></script>
        <script src="/js/buffer-loader.js"></script>
        <script src="/js/sound.js"></script>
        <script src="/js/waveformDrawer.js"></script>
    </body>
</html>
