<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:10px; word-wrap:break-word; }
    </style>
</head>
<body>
<div>
    <div>
        <div class="row">
            <div>
                <div class="well" >
                    <h3><span class="fa fa-user"></span> <%= user.local.first %> <%= user.local.last %></h3>
                    <p>
                        <strong>email</strong>: <%= user.local.email %>

                        <span class="pull-right">
                            <a href="/wall" class="btn btn-primary">Wall </a>
                            <a href="/logout" class="btn btn-primary"> Logout</a>
                        </span>

                    </p>
                   <div></div>
                </div>
            </div>

        </div>

    </div>
    <div class="container">
        <table id="mytable" class="table table-bordred table-striped center-block" style="width:50%">
            <thead>
            <th >Song Name</th>
            <th class ="col-md-1">Delete</th>
            <th class ="col-md-1">Edit</th>
            <th class ="col-md-1">Share</th>
            </thead>
            <tbody>
            <tr>
                <td>Mohsin</td>
                <td><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></p></td>
                <td><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                <td><p data-placement="top" data-toggle="tooltip" title="Share"><button class="btn btn-danger btn-xs" data-title="Share" data-toggle="modal" data-target="#share" ><span class="glyphicon glyphicon-share"></span></button></p></td>

            </tr>

            </tbody>

        </table>
    </div>



</div>
</body>
</html>
